* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
}

body {
    background-image: url("photographer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

#colorOptions,
button,
input,
:placeholder-shown {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    padding: 8px;
    font-size: 16px;
}

header,
main,
section,
#search,
footer {
    margin: 10px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

#logo {
    height: 50px;
    width: 50px;
    padding-top: 5px;
}

.tag {
    padding-bottom: 0;
    text-align: center;
}

.user {
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    font-size: x-small;
}

header {
    text-align: center;
    color: white;
}

body {
    display: grid;
    grid-template:
        "a"
        "b"
        "c";
}

header {
    grid-area: a;
}

main {
    grid-area: b;
}

footer {
    grid-area: c;
}

header {
    display: grid;
    grid-template:
        "bb"
        "cc";
}


h1 {
    grid-area: bb;
}

a {
    grid-area: cc;
    padding-bottom: 3px;
}

main {
    display: grid;
    grid-template:
        "a"
        "b";
}

#search {
    display: grid;
    grid-area: a;
    grid-template-rows: 25px;
    justify-items: center;
}

#gallery {
    display: grid;
    grid-area: b;
    justify-items: center;
    grid-template:
        "a b c d"
        "at bt ct dt"
        "au bu cu du"
        "e f g h"
        "et ft gt ht"
        "eu fu gu hu"
        "i j k l"
        "it jt kt lt"
        "iu ju ku lu" / 1fr 1fr 1fr 1fr;
    grid-gap: 0rem 1.5rem;
}

img {
    width: 100%;
}

p {
    color: white;
    padding: 5px;
}

#image0 {
    grid-area: a;
}

#image1 {
    grid-area: b;
}

#image2 {
    grid-area: c;
}

#image3 {
    grid-area: d;
}

#image4 {
    grid-area: e;
}

#image5 {
    grid-area: f;
}

#image6 {
    grid-area: g;
}

#image7 {
    grid-area: h;
}

#image8 {
    grid-area: j;
}

#image9 {
    grid-area: k;
}

#tag0 {
    grid-area: at;
}

#tag1 {
    grid-area: bt;
}

#tag2 {
    grid-area: ct;
}

#tag3 {
    grid-area: dt;
}

#tag4 {
    grid-area: et;
}

#tag5 {
    grid-area: ft;
}

#tag6 {
    grid-area: gt;
}

#tag7 {
    grid-area: ht;
}

#tag8 {
    grid-area: jt;
}

#tag9 {
    grid-area: kt;
}

#user0 {
    grid-area: au;
}

#user1 {
    grid-area: bu;
}

#user2 {
    grid-area: cu;
}

#user3 {
    grid-area: du;
}

#user4 {
    grid-area: eu;
}

#user5 {
    grid-area: fu;
}

#user6 {
    grid-area: gu;
}

#user7 {
    grid-area: hu;
}

#user8 {
    grid-area: ju;
}

#user9 {
    grid-area: ku;
}

footer {
    display: grid;
    justify-items: center;
}

@media (max-width: 1000px) {

    #gallery {
        display: grid;
        grid-template:
            "a b c"
            "at bt ct"
            "au bu cu"
            "d e f"
            "dt et ft"
            "du eu fu"
            "g h i"
            "gt ht it"
            "gu hu iu"
            "j k l"
            "jt kt lt"
            "ju ku lu" /1fr 1fr 1fr;
    }

    #image0 {
        grid-area: a;
    }

    #image1 {
        grid-area: b;
    }

    #image2 {
        grid-area: c;
    }

    #image3 {
        grid-area: d;
    }

    #image4 {
        grid-area: e;
    }

    #image5 {
        grid-area: f;
    }

    #image6 {
        grid-area: g;
    }

    #image7 {
        grid-area: h;
    }

    #image8 {
        grid-area: i;
    }

    #image9 {
        grid-area: k;
    }

    #tag0 {
        grid-area: at;
    }

    #tag1 {
        grid-area: bt;
    }

    #tag2 {
        grid-area: ct;
    }

    #tag3 {
        grid-area: dt;
    }

    #tag4 {
        grid-area: et;
    }

    #tag5 {
        grid-area: ft;
    }

    #tag6 {
        grid-area: gt;
    }

    #tag7 {
        grid-area: ht;
    }

    #tag8 {
        grid-area: it;
    }

    #tag9 {
        grid-area: kt;
    }

    #user0 {
        grid-area: au;
    }

    #user1 {
        grid-area: bu;
    }

    #user2 {
        grid-area: cu;
    }

    #user3 {
        grid-area: du;
    }

    #user4 {
        grid-area: eu;
    }

    #user5 {
        grid-area: fu;
    }

    #user6 {
        grid-area: gu;
    }

    #user7 {
        grid-area: hu;
    }

    #user8 {
        grid-area: iu;
    }

    #user9 {
        grid-area: lu;
    }
}

@media (max-width: 800px) {

    #gallery {
        display: grid;
        grid-template:
            "a b"
            "at bt"
            "au bu"
            "c d"
            "ct dt"
            "cu du"
            "e f"
            "et ft"
            "eu fu"
            "g h"
            "gt ht"
            "gu hu"
            "i j"
            "it jt"
            "iu ju" /1fr 1fr;
    }

    #image0 {
        grid-area: a;
    }

    #image1 {
        grid-area: b;
    }

    #image2 {
        grid-area: c;
    }

    #image3 {
        grid-area: d;
    }

    #image4 {
        grid-area: e;
    }

    #image5 {
        grid-area: f;
    }

    #image6 {
        grid-area: g;
    }

    #image7 {
        grid-area: h;
    }

    #image8 {
        grid-area: i;
    }

    #image9 {
        grid-area: j;
    }

    #tag0 {
        grid-area: at;
    }

    #tag1 {
        grid-area: bt;
    }

    #tag2 {
        grid-area: ct;
    }

    #tag3 {
        grid-area: dt;
    }

    #tag4 {
        grid-area: et;
    }

    #tag5 {
        grid-area: ft;
    }

    #tag6 {
        grid-area: gt;
    }

    #tag7 {
        grid-area: ht;
    }

    #tag8 {
        grid-area: it;
    }

    #tag9 {
        grid-area: jt;
    }

    #user0 {
        grid-area: au;
    }

    #user1 {
        grid-area: bu;
    }

    #user2 {
        grid-area: cu;
    }

    #user3 {
        grid-area: du;
    }

    #user4 {
        grid-area: eu;
    }

    #user5 {
        grid-area: fu;
    }

    #user6 {
        grid-area: gu;
    }

    #user7 {
        grid-area: hu;
    }

    #user8 {
        grid-area: iu;
    }

    #user9 {
        grid-area: ju;
    }

}

@media (max-width: 550px) {

    #gallery {
        display: grid;
        grid-template:
            "a"
            "at"
            "au"
            "b"
            "bt"
            "bu"
            "c"
            "ct"
            "cu"
            "d"
            "dt"
            "du"
            "e"
            "et"
            "eu"
            "f"
            "ft"
            "fu"
            "g"
            "gt"
            "gu"
            "h"
            "ht"
            "hu"
            "i"
            "it"
            "iu"
            "j"
            "jt"
            "ju";
    }
}