* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

body{
    background-image: url("photographer.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

#colorOptions, button, input, :placeholder-shown{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding: 5px;
}

header, main, section, #search, footer{
    margin: 10px;
    padding: 10px;
}

#logo {
 height: 50px;
 width: 50px;
 padding-top: 5px;
}

.tag {
    padding-bottom: 0;
    text-align: center;
}

.user {
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    font-size: x-small;
}

header{
    text-align: center;
    color: white;
}

body{
    display: grid;
    grid-template: 
    "a"
    "b"
    "c";
}

header{ grid-area: a; }
main{ grid-area: b; }
footer{ grid-area: c; }

header{
    display:grid;
    grid-template: 
    "bb" 
    "cc";
}


h1 {grid-area: bb;}
a { 
    grid-area: cc; 
    /* align-self: center; */
    padding-bottom: 3px;
}

main{
    display: grid;
    grid-template: 
    "a"
    "b";
}

#search{
    display: grid;
    grid-area: a;
    grid-template-rows: 25px;
    justify-items: center;    
}

#gallery{
    display: grid;
    grid-area: b;
    justify-items: center;
    grid-template: 
    "a b c d"
    "at bt ct dt"
    "au bu cu du"
    "e f g h"
    "et ft gt ht"
    "eu fu gu hu"
    "i j k l"
    "it jt kt lt"
    "iu ju ku lu" / 1fr 1fr 1fr 1fr;
    grid-gap: 0rem 1.5rem;
}

img{
    width: 100%;
}

p{
    color:white;
    padding: 5px;
}

#image0{ grid-area: a; }
#image1{ grid-area: b; }
#image2{ grid-area: c; }
#image3{ grid-area: d; }
#image4{ grid-area: e; }
#image5{ grid-area: f; }
#image6{ grid-area: g; }
#image7{ grid-area: h; }
#image8{ grid-area: j; }
#image9{ grid-area: k; }

#tag0 { grid-area: at; }
#tag1 { grid-area: bt; }
#tag2 { grid-area: ct; }
#tag3 { grid-area: dt; }
#tag4 { grid-area: et; }
#tag5 { grid-area: ft; }
#tag6 { grid-area: gt; }
#tag7 { grid-area: ht; }
#tag8 { grid-area: jt; }
#tag9 { grid-area: kt; }

#user0 { grid-area: au; }
#user1 { grid-area: bu; }
#user2 { grid-area: cu; }
#user3 { grid-area: du; }
#user4 { grid-area: eu; }
#user5 { grid-area: fu; }
#user6 { grid-area: gu; }
#user7 { grid-area: hu; }
#user8 { grid-area: ju; }
#user9 { grid-area: ku; }

#footer{
    display:grid;
    justify-items: center;
}