* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

body{
    background-image: url("photographer.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

#colorOptions, button, input, :placeholder-shown{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding: 5px;
}

header, main, section, #search, footer{
    margin: 10px;
    padding: 10px;
}

header{
    text-align: center;
    color: white;
}

body{
    display: grid;
    grid-template: 
    "a"
    "b"
    "c";
}

header{ grid-area: a; }
main{ grid-area: b; }
footer{ grid-area: c; }

header{
    display:grid;
}

main{
    display: grid;
    grid-template: 
    "a"
    "b";
}

#search{
    display: grid;
    grid-area: a;
    grid-template-rows: 25px;
    justify-items: center;    
}

#images{
    display: grid;
    grid-area: b;
    justify-items: center;
    grid-template: 
    "a b c d"
    "e f g h"
    "i j k l" / 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

img{
    width: 100%;
}

#image0{ grid-area: a; }
#image1{ grid-area: b; }
#image2{ grid-area: c; }
#image3{ grid-area: d; }
#image4{ grid-area: e; }
#image5{ grid-area: f; }
#image6{ grid-area: g; }
#image7{ grid-area: h; }
#image8{ grid-area: j; }
#image9{ grid-area: k; }

#footer{
    display:grid;
    justify-items: center;
}